@media (min-width: 768px) {
  form {
    display: grid;
    gap: 24px;
    margin: 32px 0;
  }
  input {
    height: 56px;
    padding: 0 20px;
  }
  textarea {
    padding: 19px 20px;
    height: 156px;
  }
  .left {
    margin: auto 0;
  }
  .left p.p1 {
    margin: 12px 0 52px;
  }
  .left p.p2 {
    margin-bottom: 16px;
  }
  .form-content {
    gap: 50px;
  }
  .form-container {
    border-radius: 24px;
    padding: 36px 36px 0 36px;
  }
  .form-content {
    padding: 50px 0 80px;
  }
  .clients-logo {
    display: flex;
    gap: 28px;
    align-items: center;
  }
  .alert {
    padding: 19px 2rem;
    top: 134px;
  }
}
.btn-form {
  position: relative;
}
.right {
  display: block !important;
}
#lottie-animation {
  position: absolute;
  top: 50%;
  left: 10px; /* Pindahkan animasi ke sebelah kiri tombol */
  transform: translateY(-50%); /* Tengahkan animasi secara vertikal */

  /* Sembunyikan animasi secara default */
  display: none;

  width: 100px;
  height: 100px;
}

/* Tampilkan animasi saat form sedang dikirim */
.is-submitting #lottie-animation {
  display: block;
}
textarea {
  resize: vertical;
}
input,
textarea {
  border-radius: 12px;
  border: 1px solid #d7d7d7;
  font-family: "Graphik Light", sans-serif;
  src: url("asset/font/GraphikLight.woff") format("woff");
  font-size: medium;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--black);
}
button.btn-form {
  border-radius: 50px;
  padding: 16px 42px;
  gap: 0.5rem;
  font-size: 18px;
  text-align: center;
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-family: "Graphik Light", sans-serif;
  font-weight: 200;
  src: url("asset/font/GraphikLight.woff") format("woff");
  cursor: pointer;
}
.inputBox span {
  color: red;
}
button.btn-form:hover {
  background-color: rgba(0, 0, 0, 0.83);
}
.alert {
  display: none;
}
.form-section {
  position: relative;
}
.inputBox {
  gap: 12px;
}

.client-logo-item {
  height: 36px;
  align-items: center;
}
.client-logo-item img {
  width: inherit;
  height: inherit;
}

@media (max-width: 768px) {
  input {
    height: 46px;
    padding: 0 12px;
  }
  textarea {
    padding: 12px;
    height: 176px;
  }
  form {
    display: grid;
    gap: 16px;
    margin: 20px 0 24px;
  }
  .left p.p1 {
    margin: 12px 0 24px;
  }
  .left p.p2 {
    margin-bottom: 18px;
  }
  .form-content {
    padding: 24px 0 32px;
  }
  .form-content {
    gap: 30px;
  }
  .form-container {
    border-radius: 12px;
    padding: 24px;
  }
  .clients-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
  }
  .alert {
    padding: 1rem;
    top: 134px;
    width: 82%;
  }
}
.form-section {
  position: relative;
}

.alert {
  background: var(--black);
  font-size: 1rem;
  border: 1px solid var(--white);
  border-radius: 8px;
  z-index: 99;
  color: var(--white);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Durasi animasi fadeIn 0.5s dan akan memulai 0.5s setelah alert tampil */
  animation: fadeIn 0.5s ease-in-out forwards;

  /* Durasi animasi fadeOut 0.5s dan akan memulai 2s setelah alert tampil */
  animation: fadeOut 0.5s 5s ease-in-out forwards;
}

/* Animasi alert muncul */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Animasi alert menghilang */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}
