.hero-section {
  position: relative;
  background-image: url('asset/image/home/Background.png');}

.left {
  color: white;
  padding: 100px 0 122px 0;
}

.the-wrapper {
  background-size: cover;
  background-position: right;
  position: relative;
  overflow: hidden;
}
body {
  visibility: hidden;
  overflow-x: hidden; /* menghilangkan scroll bar horizontal */
}

body.animated {
  visibility: visible;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}
.bg-animation {
  position: absolute;
  width: 100%;
  height: 670px;
  background: black;
  z-index: 9998;
  animation: slideFromLeft 1s forwards;
}

.hero-section,
.header {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.bg-permanent {
  position: absolute;
  width: 100%;
  height: 670px;
  background: black;
  display: none; /* disembunyikan sampai .bg-animation selesai */
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}
@keyframes typingsecond {
  from {
    width: 0;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}
.second-animation {
  white-space: nowrap;
  animation-name: typingsecond;
  animation-duration: 1s;
  animation-timing-function: steps(40, end);
  animation-iteration-count: 1;
  animation-delay: 1.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
h1 {
  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 1s;
  animation-timing-function: steps(200, end);
  animation-iteration-count: 1;
}

h1.headingsecond {
  visibility: hidden;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition-delay: 0s;
}

.hero-contents .left h2 {
  opacity: 0;
  animation: 2s typing steps(200, end);
  white-space: nowrap;
}
.hero-contents .left .cta1 {
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.4s;
  opacity: 0;
  transform: translateX(-50px);
}

.hero-contents .left .cta2 {
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s;
  opacity: 0;
  transform: translateX(-50px);
}
.header {
  opacity: 0;
  animation: 0.5s fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .left {
    display: grid;
  }
  .left h1 {
    margin: 12px 0 32px;
  }
  .the-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .the-wrapper {
    height: 530px;
    width: 782px;
  }
}

@media (max-width: 768px) {
  .left {
    display: grid;
    padding: 32px 0;
  }
  .left h1 {
    margin: 16px 0 24px;
  }
  .the-wrapper {
    height: 246px !important;
  }
  .hero-section {
    padding-bottom: 32px;
  }
  .bg-animation {
    height: 100vh;
  }
  .bg-permanent {
    height: 100vh;
  }
}
