header {
  position: fixed;
  width: -webkit-fill-available;
  background-color: transparent; /* Set background to transparent initially */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;
}
.headingfirst {
  margin-bottom: 0 !important;
}
.btn.primary-nav {
  transition: background-color 0.3s, color 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav ul li {
  /* margin-right: 64px; */
  margin: auto 32px;
}

nav ul li:last-child {
  margin-right: 0;
}

/* ... CSS sebelumnya ... */

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.menu-toggle.active {
  color: #fff; /* White hamburger color for dark section */
}

/* Dynamic link color */
nav ul li a {
  color: inherit; /* Inherit text color from parent (header) */
}
.dark-section .btn.primary-nav {
  border: solid 1px #fff;
  color: #fff;
  background-color: transparent;
}

.dark-section .btn.primary-nav:hover {
  border: solid 1px #fff;
  color: #fff;
  background-color: transparent;
}

.light-section .btn.primary-nav {
  border: solid 1px #000;
  color: #000;
  background-color: black;
}

.light-section .btn.primary-nav:hover {
  border: solid 1px #000;
  color: #000;
  background-color: transparent;
}
@media (min-width: 769px) {
  html {
    scroll-padding-top: 50px; /* Sesuaikan dengan tinggi header Anda */
  }
  nav ul {
    background-color: transparent !important; /* Set background to transparent for desktop */
  }
  .header {
    padding: 14px 0;
  }
  .nav-desktop {
    display: flex;
    gap: 4rem;
    flex-direction: row-reverse;
  }
  nav {
    display: flex;
    align-items: center;
  }
}
/* Media Query for Mobile */
@media (max-width: 768px) {
  html {
    scroll-padding-top: 77px; /* Sesuaikan dengan tinggi header Anda */
  }
  .space-action {
    gap: 2rem;
    align-items: center;
  }
  .header {
    padding: 12px 0;
  }
  nav ul {
    display: none; /* Menu awalnya tidak terlihat */
    flex-direction: column;
    position: absolute;
    top: 78.5px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem 0;
  }

  nav ul.active {
    display: flex; /* Munculkan menu saat hamburger diklik */
  }

  nav ul li {
    margin: 16px 0;
  }

  .menu-toggle {
    display: block;
    /* position: absolute; */
    /* right: 16px; */
  }
}
