:root {
  --accent: #f1fdf3;
}

.box-theme {
  background: var(--accent);
  color: var(--black);
  text-align: center;
  justify-content: center;
  align-items: baseline;
}
.box-theme img {
  width: auto;
  height: fit-content;
}
.more-content {
  display: grid;
  gap: 12px;
  margin: auto;
}
.screen-group {
  display: grid;
}
.strategy-item {
  display: grid;
  gap: 12px;
  align-self: baseline;
}
@media (min-width: 768px) {
  .with-space {
    padding: 64px;
  }
  .box-theme {
    gap: 40px;
  }
  .no-space {
    padding-top: 64px;
  }
  .about {
    display: flex;
    gap: 120px;
  }
  .more {
    gap: 50px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .more-group {
    display: grid;
    gap: 80px;
  }
  .size-595 img {
    width: 595px;
    height: 595px;
  }
  .screen-group {
    gap: 50px;
  }
  .strategy-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .screen-group {
    margin-top: 1.5rem;
  }
  .detail-content {
    padding-top: 80px;
  }
  .about-item {
    gap: 1rem;
  }
  .line {
    gap: 0.75rem;
  }
  .photos img.for-mobile {
    display: none;
  }
}
.photos img {
  width: 100%;
  /* float: left; */
}
.cassius-photos img {
  float: left;
}

@media (max-width: 768px) {
  .detail-content {
    padding-top: 24px;
  }
  .screen-group {
    gap: 1rem;
  }
  .strategy-group,
  .more-group,
  .more {
    display: grid;
    gap: 1.5rem;
  }
  .screen-group {
    margin-top: 1rem;
  }
  .mob {
    display: none;
  }
  .more {
    flex-wrap: wrap;
  }
  .about {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .size-595 img {
    width: 100%;
  }
  .box-theme img {
    width: -webkit-fill-available;
  }
  .with-space {
    padding: 20px 16px;
  }
  .about-item {
    gap: 0.75rem;
  }
  .line {
    gap: 0.5rem;
  }
}

.mb-strategy {
  margin-bottom: 12px;
}
